.apply-button {
  background-color:rgb(10, 102, 194);
  color:white;
  font-weight:bold;
  font-size:14px;
  border-radius:40px;
  border:none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 16px;
  padding-top: 16px;
  cursor:pointer;
}

.apply-button:hover{
  opacity: 0.8;
} 

.apply-button:active{
  opacity: 0.5;
}

.save-button {
  background-color:rgb(255, 255, 255);
  color:rgb(10, 102, 194);
  font-weight:bold;
  font-size:14px;
  border-radius:40px;
  border:2px solid rgb(94, 164, 214);
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 16px;
  padding-top: 16px;
  cursor:pointer;
}

.save-button:hover{
  opacity: 0.8;
}

.save-button:active{
  opacity: 0.5;
}
